<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой список желаний</title>
</head>
<body>
<form method=post enctype=multipart/form-data>
    <a href="/mylist">Список желаний</a>
    <p>
    <label>Название</label>
    <input type="text" name="name">
    </p>
    <p>
    <label>Стоймость</label>
    <input type="float" name="price">
    </p>
    <p>
    <label>Ссылка(Пример: www.название сайта.домен)</label>
    <input type="text" name="url">
    </p>
    <p>
    <label>Описание</label>
    <input type="text" name="disc">
    </p>
  <p>
    <input type="submit" value="Добавить продукт">
  </p>
</form>
</body>
</html>